.top{
    background-color: blueviolet;
    padding: 15px;
}
.left{
    background-color: yellow;
    width: 100px;
    display: flex;
    flex-direction: column;
}
.btwn{
    background-color: aqua;

}